Django
djangorestframework
djangorestframework-simplejwt
Pillow
psycopg2-binary
django-cors-headers
django-filter
drf-yasg
gunicorn
python-dotenv
djangorestframework
stripe
paypalrestsdk
requests
django-storages
numpy
boto3
pandas


asgiref

Django
django-ckeditor
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-environ
django-filter
django-js-asset
djangorestframework
djangorestframework_simplejwt


faiss-cpu
flake8
fonttools
gitdb
Jinja2

joblib
jsonschema
numpy
openai

pandas

pyflakes
Pygments
PyJWT
pyparsing
pytest
pytest-django
python-dateutil
python-decouple
python-dotenv
pytz
referencing
requests
rpds-py
scikit-learn
scipy
